/* Números a la derecha de las ecuaciones */
.math {
    text-align: left;
}
.eqno {
    float: right;
}

.wy-nav-content {
    padding: 1.618em 3.236em;
    height: 100%;
    max-width: none;
    margin: auto;
}
/* img {  */
/*   max-width:  100%;  */
/*   display: block; */
/* } */
